:root {
    /* CSS variables to change the configuration of tick and circle */
    --circle-width: 250px;
    --circle-height: 250px;
    --tick-width: calc(var(--circle-width)*0.56);
    --tick-height: calc(var(--circle-height)*0.24);
    --tick-thickness: calc(var(--tick-width)*0.1);
    --background-color: #4285F4;    /* Royal Blue */
    --circle-color: #fff;           /* White */
    --tick-first-color: #0F9D58;    /* Shamrock Green */
    --tick-second-color: #F4B400;   /* Selective Yellow */
    --tick-third-color: #DB4437;    /* Cinnabar */
    --tick-final-color: #4285F4;    /* Royal Blue */
}

body {
    background-color: var(--background-color);
}

.circle {
    background-color: var(--circle-color);
    width: var(--circle-width);
    height: var(--circle-height);
    left: calc(50% - var(--circle-width) / 2);
    top: calc(50% - var(--circle-height) / 2);
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 2px solid #4285F4;
}

.tick {
    display: inline-block;
    width: 56%;
    height: 24%;
    border-left: var(--tick-thickness) solid #4285F4;
    border-bottom: var(--tick-thickness) solid #4285F4;
    position: absolute;
    margin: 0 auto;
    left: calc(var(--circle-width)*0.15);
    top: calc(var(--circle-height)/2 - var(--tick-height));
    transform: rotate(-40deg);
    transform-origin: calc(var(--tick-width)*0.57) calc(var(--tick-height)/2);
    animation: tick-animation 1s;
}

@keyframes tick-animation {
    0% {
        height: 0;
        width: 0;
        border-left-color: var(--tick-first-color);
    }
    50% {
        width: 0;
        height: var(--tick-height);
        border-left-color: var(--tick-second-color);
        border-bottom-color: var(--tick-first-color);
    }
    75% {
        border-left-color: var(--tick-third-color);
        border-bottom-color: var(--tick-second-color);
    }
    90% {
        border-bottom-color: var(--tick-third-color);
    }
    100% {
        width: var(--tick-width);
        border-color: var(--tick-final-color);
    }
}